img {
    max-width: 100%;
}

body{
    width: 100%;
    min-height: 100%;
    background-color: rgb(198, 209, 221);
}

.col {
    width: 100%;
}

p {
    text-align: left;
}

/* Data page mostly */

.divtable {
    text-align: center;
    background-color: rgb(235, 242, 241);
    z-index: 1;
}